@model Awards.Models.ViewModels.MainPage
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Изменить</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users.Count() != 0)
        {
            @foreach (var item in Model.Users)
            {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td>@item.Age</td>
            @if (item.Awards != null && item.Awards.Count() != 0)
            {
                <td>
                    @foreach (var award in item.Awards)
                    {
                        <span>@award.Title; </span>
                    }
                </td>
            }
            <td>
                <form asp-action="DeleteUser" asp-controller="User" method="post">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="submit" value="Удалить пользователя" />
                </form>
            </td>
            <td>
                <form asp-action="EditUser" asp-controller="User" method="get">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="submit" value="Изменить данные" />
                </form>
            </td>
        </tr>
            }
        }
    </tbody>
</table>